/* General Header Styling */
header {
    display: flex;
    justify-content: space-between;
    background-color: #178F64;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

/* Home Icon Styling */
.home-icon {
    display: flex;
    align-items: center;
  }
  
  .home-icon a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
  }

/* Navigation Bar inside Header */
header nav {
    margin: 1.5rem 0.5rem;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    font-size: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 15px;
    transition: background-color 0.3s
}

header nav ul li a:hover {
    background-color: #177E8F;
    border: 0.1rem solid #558;
    border-radius: 1rem;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        /* Center items on mobile */
    }

    .home-icon a {
        margin-left: 0rem;
      }

    header nav {
        margin: 0.7rem 0rem;
        width: 100%;
        /* Make the nav take full width on mobile */
        text-align: center;
        /* Center the nav items */
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        /* Stack nav items vertically */
        align-items: center;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
        /* Add space between nav items */
    }

    header nav ul li a {
        padding: 0px;
        width: 100%;
        /* Make links take full width for touch-friendly design */
    }
}